<!DOCTYPE html>

{% extends "main_misc.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container header-container">
        <div class="row h-100">
            
            <div class="col text-center my-auto">
                
                <h1 class="home-font">
                    Miscellaneous
                </h1>
                
                <div class="my-5">
                    <h4>
                        <a href="{% url 'contact' %}" class="home-btn home-btn-lg rounded-2 py-3">Coming Soon......</a>
                    </h4>
                </div>
                <div>
                    <h1 style="font-family: Roboto;">Roboto</h1>
                    <h1 style="font-family: Lato;">Lato</h1>
                    <h1 style="font-family: Lora;">Lora</h1>
                    <h1 style="font-family: Josefin Sans;">Josefin Sans</h1>
                    <h1 style="font-family: Dancing Script;">Dancing Script</h1>
                    <h1 style="font-family: Berkshire Swash;">Berkshire Swash</h1>
                    <h1 style="font-family: Cormorant SC;">Cormorant SC</h1>
                    <h1 style="font-family: Libre Barcode 39 Text;">Libre Barcode 39 Text</h1>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}