<!DOCTYPE html>

{% extends "main_misc.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row h-100">
            <div class="col text-center my-auto">
                <h1 class="home-font py-4">
                    Brands we Stock
                </h1>
                <div class="row">
                    {% for logo in logos %}
                        <div class=" col-6 col-lg-4 col-xl-3">
                            <div class="card-home py-4 shadow-lg my-auto mx-auto">
                                <div class="card-img-top">
                                    {% if logo.image %}
                                        <a href="">
                                            <img class="img-fluid" src="{{ logo.image.url }}" alt="{{ logo.friendly_name }}">
                                        </a>
                                    {% else %}
                                        <a href="">
                                            <img class="img-fluid" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ logo.friendly_name }}">
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="card-body home-logo-font">
                                    {{ logo.friendly_name }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div>
                    <h1 style="font-family: Roboto;">Roboto</h1>
                    <h1 style="font-family: Lato;">Lato</h1>
                    <h1 style="font-family: Lora;">Lora</h1>
                    <h1 style="font-family: Josefin Sans;">Josefin Sans</h1>
                    <h1 style="font-family: Dancing Script;">Dancing Script</h1>
                    <h1 style="font-family: Berkshire Swash;">Berkshire Swash</h1>
                    <h1 style="font-family: Cormorant SC;">Cormorant SC</h1>
                    <h1 style="font-family: Libre Barcode 39 Text;">Libre Barcode 39 Text</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}