<!DOCTYPE html>

{% extends "main_misc.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}


    <div class="container-fluid h-100 home-back">
        <div class="row h-100">
            
            <div class="col-12 text-center my-auto">
                
                <h1 class="home-font">
                    M<i class="fas fa-neuter logo-fontawesome-i"></i>scell<i class="fas fa-at logo-fontawesome"></i>neo<i class="fas fa-magnet logo-fontawesome"></i>s
                </h1>
                
                <div class="my-5">
                    <h4>
                        <a href="{% url 'contact' %}" class="home-btn home-btn-lg rounded-2 py-3">Coming Soon......</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}