/* font-family: 'Roboto', 'Lato', 'Lora', 'Josefin Sans', 'Dancing Script', 'Berkshire Swash', 'Cormorant SC', 'Libre Barcode 39 Text' */

html {
  height: 100%
}

body {
  font-family: 'Roboto', 'Lato';
  background-size: cover;
  height: 100vh;
  color: #555;
}

/*---------------------------------------- Main Page Fonts Setting ----------*/
.home-font {
  font-family: 'Dancing Script';
  font-size: calc(0.9375rem + 11vw);
  font-weight: 600;
  line-height: 1.2;
  color: #fff;
}
@media (min-width: 5120px) {
  .home-font {
    font-size: 3.5rem;
  }
}


/*---------------------------------------------- Nav Space Setting ----------*/
@media (min-width: 991px) {
  .header-container {
    padding-top: 120px;
  }
}

@media (max-width: 990px) {
  .header-container {
    padding-top: 80px;
  }
}
/*----------------------------------------- Nav Background Setting ----------*/
.nav-bg {
  background-color: #fff;
}


/*-------------------------------------------- Nav Search Setting ----------*/
.nav-search {
  display: inline-flex;
  width: 80%;
  padding: 0.375rem 0.75rem;
  margin: auto;
  /* margin-right: 0.3125rem; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #005826;
  -webkit-appearance: inherit;
  -moz-appearance: inherit;
  appearance: none;
  border-radius: 0.25rem;
}

.nav-search-btn {
  display: inline-flex;
  /* margin: auto; */
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: inherit;
  -moz-user-select: inherit;
  user-select: none;
  background-color: #005826;
  border: 1px solid #005826;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.nav-search-btn:hover {
  background-color: #81bd9a;
  color: #005826;
}

/*----------------------------------------- Nav Account/Bag Setting ----------*/
.nav-acc {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
@media (prefers-reduced-motion: reduce) {
  .nav-acc {
    transition: none;
  }
}
.nav-acc.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.nav-acc:hover i {
  color: #ee8631;
  font-size: x-large;
}

.nav-acc:hover p {
  color: #005826;
}

.menu-font {
  font-family: 'Lato' !important;
  font-size: 1.125rem;
  font-weight: bold;
  color: #005826 !important;
  margin-left: 35px;
  margin-right: 35px;
}

.menu-font:hover>span{
  color: #ee8631 !important;
  /* font-size: large; */
}

.dropdown-item {
  font-family: 'Lato' !important;
  /* font-size: 1.125rem; */
  font-weight: bold;
  color: #005826 !important;
}

.dropdown-item:hover>span {
  color: #ee8631 !important;
}

/*--------------------------------------------- Logo Fonts Setting ----------*/
.logo-font {
  color: #005826;
  font-family: 'Lato' ;
}


.logo-font:hover strong {
  color: #ee8631;
  font-size: larger;
}

.logo-fontawesome {
  font-size: calc(0.9375rem + 6vw);
}

.logo-fontawesome-i {
  font-size: calc(0.9375rem + 7vw);
}

/*---------------------------------------- Home Background Setting ----------*/
.home-back {
  background-color: #005826;
}

/*-------------------------------------------- Home Button Setting ----------*/
.home-btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}

.home-btn-lg, .home-btn-group-lg > .home-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.home-btn > .home-btn-sm, .home-btn-group-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.home-btn:hover {
  background-color: #81bd9a;
  color: #005826;
}

/*-------------------------------------------- Contact page Setting ----------*/
.contact-font {
  font-size: calc(0.9375rem + 1vw);
  font-family: 'Lato' !important;
  /* line-height: 1.2; */
  color: #fff;
  padding-top: 15px;
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 5120px) {
  .contact-font {
    font-size: 3.5rem;
  }
}

.contact-list {
  color: #fff;
  font-size: calc(0.6875rem + 1vw);
  font-family: 'Overlock';
  text-align: left;
}