@font-face {
    font-family: 'Berlin Sans FB';
    src: local('Berlin Sans FB'), local('BerlinSansFB-Reg'),
        url('fonts/BerlinSansFB-Reg.woff2') format('woff2'),
        url('fonts/BerlinSansFB-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%
}

body {
    background-size: cover;
    height: 100vh;
    color: #555;
    font-family: 'Berlin Sans FB';
}

/*---------------------------------------- Main Page Fonts Setting ----------*/
.home-font {
  font-size: calc(0.9375rem + 11vw);
  font-weight: 600;
  line-height: 1.2;
  color: #fff;
}
@media (min-width: 5120px) {
  .home-font {
    font-size: 3.5rem;
  }
}


/*---------------------------------------------- Nav Space Setting ----------*/
.header-container {
        padding-top: 72px;
    }

/*----------------------------------------- Nav Background Setting ----------*/
.nav-bg {
    background-color: #81bd9a;
}


/*-------------------------------------------- Nav Search Setting ----------*/
.nav-search {
  display: block;
  width: 80%;
  padding: 0.375rem 0.75rem;
  margin-right: 0.3125rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #81bd9a;
  background-clip: padding-box;
  border: 1px solid #005826;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-search-btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #005826;
  border: 1px solid #005826;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-search-btn:hover {
    background-color: #81bd9a;
    color: #005826;
}

/*----------------------------------------- Nav Account/Bag Setting ----------*/
.nav-acc {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .nav-acc {
    transition: none;
  }
}
.nav-acc.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.nav-acc:hover {
    border-color: #005826;
    color: #fff;
}

/*--------------------------------------------- Logo Fonts Setting ----------*/
.logo-font {
    color: #005826;
}

.logo-fontawesome {
    font-size: calc(0.9375rem + 6vw);
}

.logo-fontawesome-i {
    font-size: calc(0.9375rem + 7vw);
}

/*---------------------------------------- Home Background Setting ----------*/
.home-back {
    background-color: #005826;
}

/*-------------------------------------------- Home Button Setting ----------*/
.home-btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}

.home-btn-lg, .home-btn-group-lg > .home-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.home-btn > .home-btn-sm, .home-btn-group-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.home-btn:hover {
    background-color: #81bd9a;
    color: #005826;
}

/*-------------------------------------------- Contact page Setting ----------*/
.contact-font {
  font-size: calc(0.9375rem + 1vw);
  font-weight: 100;
  line-height: 1.2;
  color: #fff;
  padding-top: 15px;
}
@media (min-width: 5120px) {
  .home-font {
    font-size: 3.5rem;
  }
}

.contact-list {
    color: #fff;
    font-size: 1.25rem;
    font-family: 'Acme';
    font-weight: 200;
    text-align: left;
}