<!DOCTYPE html>
<div class="collapse navbar-collapse" id="misc_nav">
    <ul class="navbar-nav w-auto mx-auto menu-font">

        <li class="nav-item dropdown">
            <a class="menu-font font-weight-bold nav-link text-black mr-5" href="#" id="all-product-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>Prod</span>ucts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-product-link">
                <a href="#" class="dropdown-item">By <span>Price</span></a>
                <a href="#" class="dropdown-item">By <span>Rating</span></a>
                <a href="#" class="dropdown-item">By <span>Category</span></a>
                <a href="#" class="dropdown-item">By <span>Product</span>s</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="menu-font font-weight-bold nav-link text-black mr-5" href="#" id="all-clothing-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>Cloth</span>ing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-clothing-link">
                <a href="#" class="dropdown-item"><span>Active</span>wear</a>
                <a href="#" class="dropdown-item"><span>Jean</span>s</a>
                <a href="#" class="dropdown-item"><span>Shirt</span>s</a>
                <a href="#" class="dropdown-item">All <span>Cloth</span>ing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="menu-font font-weight-bold nav-link text-black mr-5" href="#" id="all-homeware-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>Home</span>ware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-homeware-link">
                <a href="#" class="dropdown-item"><span>Bed</span></a>
                <a href="#" class="dropdown-item"><span>Kitchen</span></a>
                <a href="#" class="dropdown-item"><span>Bath</span></a>
                <a href="#" class="dropdown-item">All <span>Home</span>ware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="menu-font font-weight-bold nav-link text-black mr-5" href="#" id="all-offer-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>Off</span>ers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-offer-link">
                <a href="#" class="dropdown-item"><span>New</span> Arrivals</a>
                <a href="#" class="dropdown-item"><span>Deals</span></a>
                <a href="#" class="dropdown-item"><span>Clear</span>ance</a>
                <a href="#" class="dropdown-item">All <span>Off</span>ers</a>
            </div>
        </li>
    </ul>
</div>