<!DOCTYPE html>
<div class="collapse navbar-collapse" id="misc_nav">
    <ul class="navbar-nav w-auto nav-margin menu-font">
        
        <li class="list-item dropdown d-block d-lg-none">  
            
                {% include 'includes/side_nav.html' %}
            
        </li>

        <li class="list-inline-item dropdown d-none d-lg-block">
            <a class="logo-font nav-theme" href="#" id="theme" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center" onclick="themeFunction">
                    <!-- <div><i class="fas fa-toggle-on"></i></div> -->
                    <div><span class="badge-light" id="badge-dark">Dark</span></div>
                    <p class="my-0">Theme</p>
                </div>
            </a>
        </li>

        <li class="list-inline-item dropdown d-none d-lg-block">
            <a class="logo-font nav-acc" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-user fa-lg"></i></div>
                    <p class="my-0">Account</p>
                </div>
            </a>
            <div class="dropdown-menu border-0 logo-font" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="" class="dropdown-item">Product <span>Manage</span>ment</a>
                    {% endif %}
                    <a href="" class="dropdown-item">My <span>Profile</span></a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Log<span>out</span></a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item"><span>Reg</span>ister</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Log<span>in</span></a>
                {% endif %}
            </div>
        </li>
        
        <li class="list-inline-item d-none d-lg-block">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}logo-font{% endif %} nav-acc" href="">
                <div class="text-center">
                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                    <p class="my-0">
                        {% if grand_total %}
                            £{{ grand_total|floatformat:2 }}
                        {% else %}
                            £0.00
                        {% endif %}
                    </p>
                </div>
            </a>
        </li>

    </ul>
</div>
