<!DOCTYPE html>

    <div class="mt-3 d-none d-lg-block"></div>
    <a class="market-nav-font market-nav-list" href="#" id="insta-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div>
            <i class="fab fa-instagram fa-lg"></i>
        </div>
    </a>
    

    <a class="market-nav-font market-nav-list" href="#" id="amazon-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div>
            <i class="fab fa-ebay fa-lg"></i>
        </div>
    </a>
    
    <a class="market-nav-font market-nav-list" href="#" id="ebay-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div>
            <i class="fab fa-amazon fa-lg"></i>
        </div>
    </a>

    