<!DOCTYPE html>

    <div class="mt-4"></div>
    <div class="list-item dropend">
        <a class="side-nav-font side-nav-list" href="#" id="all-product-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div>
                <i class="fas fa-boxes"></i> Products 
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end border-0" aria-labelledby="all-product-link">
            <a href="#" class="dropdown-item py-2">By <span>Price</span></a>
            <a href="#" class="dropdown-item py-2">By <span>Rating</span></a>
            <a href="#" class="dropdown-item py-2">By <span>Category</span></a>
            <a href="#" class="dropdown-item py-2">By <span>Product</span>s</a>
        </div>
    </div>
    <div class="list-item dropend">
        <a class="side-nav-font side-nav-list" href="#" id="all-offer-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div>
                <i class="fas fa-tag"></i> Offers 
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end border-0" aria-labelledby="all-offer-link">
            <a href="#" class="dropdown-item py-2"><span>New</span> Arrivals</a>
            <a href="#" class="dropdown-item py-2"><span>Deals</span></a>
            <a href="#" class="dropdown-item py-2"><span>Clear</span>ance</a>
            <a href="#" class="dropdown-item py-2">All <span>Off</span>ers</a>
        </div>
    </div>
